* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #FAFAFA;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



.container {
    width: 60vw;
    height: 90vh;
    background-color: #FAFAFA;
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #FAFAFA;
    width: 540px;
    height: 168px;
}

.bt1 {
    font-size: 36px;
    font-weight: 275;
    line-height: 54px;
    color: #4D4F62;
    width: 445px;
    height: 54px;


}

.bt2 {
    font-size: 36px;
    font-weight: 600;
    line-height: 54px;
    letter-spacing: 0.25px;
    color: #4D4F62;
    width: 491px;
    height: 54px;
}

.bt3 {
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.1041666641831398px;
    color: #4D4F62;
    opacity: 50%;
    width: 540px;
    height: 50px;
    margin-top: 16px;
}

.box2 {
    background-color: #FAFAFA;
    width: 100%;
    margin-top: 80px;
    height: 922px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.super {
    background-color: white;
    width: 350px;
    height: 250px;
    border-radius: 8px;
    border-top: 4px solid #44D3D2 ;
    padding:32px;
    box-shadow: 0px 15px 30px -11px #83A6D280;
    display: flex;
    flex-direction: column;

}


.s1 {
font-size: 20px;
font-weight: 600;
line-height: 30px;
color: #4D4F62;
height: 30px;
width: 109px;
}

.s2 {   
font-size: 13px;
line-height: 23px;
letter-spacing: 0.0902777761220932px;
width: 286px;
height: 46px;
opacity: 50%;
color: #4D4F62;

}

.s3 {
    display: flex;
    justify-content: end;
    align-items: end;
    height: 100%;
}



.team {
    background-color: white;
    width: 350px;
    height: 250px;
    border-radius: 8px;
    border-top: 4px solid #EA5454 ;
    padding: 32px;
    box-shadow: 0px 15px 30px -11px #83A6D280;
    display: flex;
    flex-direction: column;

}

.t1 {
font-size: 20px;
font-weight: 600;
line-height: 30px;
width: 150px;
height: 30px;
color: #4D4F62;
}

.t2 {   
font-size: 13px;
line-height: 23px;
letter-spacing: 0.0902777761220932px;
width: 286px;
height: 46px;
opacity: 50%;
color: #4D4F62;
}

.t3 {
    display: flex;
    justify-content: end;
    align-items: end;
    height: 100%;
}


.karma {
    background-color: white;
    width: 350px;
    height: 250px;
    border-radius: 8px;
    border-top: 4px solid #FCAE4A;
    padding: 32px;
    box-shadow: 0px 15px 30px -11px #83A6D280;
    display: flex;
    flex-direction: column;

}

.k1 {
font-size: 20px;
font-weight: 600;
line-height: 30px;
width: 70px;
height: 30px;
color: #4D4F62;
}

.k2 {
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0.0902777761220932px;
    color: #4D4F62;
    opacity: 50%;
    width: 286px;
    height: 46px;
}

.k3 {
    display: flex;
    justify-content: end;
    align-items: end;
    height: 100%;
}




.calc {
    background-color: white;
    width: 350px;
    height: 250px;
    border-radius: 8px;
    border-top: 4px solid #549EF2 ;
    padding: 32px;
    box-shadow: 0px 15px 30px -11px #83A6D280;
    display: flex;
    flex-direction: column;
}

.c1 {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    width: 108px;
    height: 30px;
    color: #4D4F62;

}

.c2 {
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0.0902777761220932px;
    color: #4D4F62;
    opacity: 50%;
    width: 286px;
    height: 46px;
}

.c3 {
    display: flex;
    justify-content: end;
    align-items: end;
    height: 100%;
}



.tmrk {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}


